/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.card {
  min-height: 50dvh;

}

.card-img {
  object-fit: cover;
  object-position: center;
  min-height: 21vh;
  width: 100%;
}